<h2>Login: </h2>
<form [formGroup] = "loginform" (ngSubmit) = "login()">
  <div>
    <label for="user">User</label>
    <input type="text" name="user" id="user" class="form-control" formControlName = "user">
  </div>
  <div>
    <label for="password">Password</label>
    <input type="text" name="password" id="password" class="form-control" formControlName = "password">
  </div>
  
  <br>
  <input type="submit" value="Login" class="btn btn-primary">
</form>