<form [formGroup] = "carform" (ngSubmit) = "sendData()">
  <div>
    <label for="manufacturer"></label>
    <input type="text" name = "manufacturer" id = "manufacturer" formControlName = "manufacturer" >
  </div>
  <div>
    <label for="model"></label>
    <input type="text" name = "model" id = "model" formControlName = "model">
  </div>
  <input type="submit" value = "Send car">
</form>