<h2>Update car manufacturer {{car?.id}}: </h2>
<form [formGroup] = "carform" (ngSubmit) = "sendData()">
  <div>
    <label for="manufacturer"></label>
    <input type="text" name="namanufacturerme" id="manufacturer" class="form-control" formControlName = "manufacturer" value="{{car?.manufacturer}}">
  </div>
  <div>
    <label for="model"></label>
    <input type="text" name="model" id="model" class="form-control" formControlName = "model" value="{{car?.model}}">
  </div>
  <br>
  <input type="submit" value="Update the car" class="btn btn-primary">
</form>