<div>
  <button (click) = "logout()">Logout</button>
</div>
<ul class="list-group">
  <li class="list-group-item" *ngFor = "let key of carsKey">{{'car manufacturer ' + key + ':'}}
    <ul>
      <li>{{'Manufacturer: ' + cars[key].manufacturer}}</li>
      <li>{{'Model: ' + cars[key].model + ''}}</li>
    </ul>
     <button class="btn btn-danger" (click)="deleteCar(key)">Delete</button>
     <button class="btn btn-info" [routerLink] = "['/update-form', key]">Edit</button>   
  </li>
</ul>